/*=============================================
=            variables            =
=============================================*/

/**
 *
 * Table of Contents
 * 
 * COLORS
 * brand colors ................. These colors will be used most of the time
 * neutral colors ............... white and blacks grey etc
 * utility colors ............... other colors to represent states
 *
 * TYPOGRAPHY
 * font families................. font families used in design system
 * font weight................... font weights
 * font sizes.................... font sizes
 * headings sizes ............... font sizes for page headings
 *
 * BREAKPOINTS
 * breakpoints................... global break points for pages
 *
 * SPACINGS
 * spacings...................... global spacings for pages
 *
 */

/*=============================================
 =            Colors            =
 =============================================*/

$white: #ffffff;

/* gray */

$gray-10: #f4f4f4;
$gray-10-hover: #e5e5e5;
$gray-20: #e0e0e0;
$gray-30: #c6c6c6;
$gray-40: #a8a8a8;
$gray-50: #8d8d8d;
$gray-60: #6f6f6f;
$gray-70: #525252;
$gray-80: #393939;
$gray-80-hover: #4c4c4c;
$gray-100: #161616;

/* blue */

$blue-10: #ecf2ff;
$blue-20: #d0e2ff;
$blue-40: #78a9ff;
$blue-50: #4589ff;
$blue-60: #0f62fe;
$blue-70: #054ada;
$blue-80: #002d9c;

/* green */

$green-40: #42be65;
$green-50: #24a148;

/* red */

$red-40: #fa4d56;
$red-60: #da1e28;
$red-60-hover: #ba1b23;
$red-80: #750e13;

/* yellow */

$yellow-60: #ffc700;

/* purple */

$purple-60: #9d3ffc;

/*=====  End of Colors  ======*/

/*=============================================
=            Typography            =
=============================================*/

/* font families */

$barlow: "Barlow", sans-serif;
$barlow-condensed: "Barlow Condensed", sans-serif;

$IBM-plex-sans: "IBM Plex Sans", sans-serif;

/* font weights */

$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 600;

/* font sizes */

$fs-xs: 0.75rem; // 12px
$fs-sm: 0.875rem; // 14px
$fs-base: 1rem; // 16px

$fs: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
);

/* heading font sizes */

$h-1: 3.375rem; // 54px
$h-2: 2.625rem; // 42px
$h-3: 2rem; // 32px
$h-4: 1.75rem; //28px
$h-5: 1.25rem; // 20px
$h-6: 1; //16px;

$h: (
  1: 3.375rem,
  2: 2.625rem,
  3: 2rem,
  4: 1.75rem,
  5: 1.25rem,
  6: 1rem,
);

/* hedings line heights */

$lh-h1: 4rem; //84px
$lh-h2: 3.125rem; //50px
$lh-h3: 2.5rem; // 40px
$lh-h4: 2.25rem; //36px
$lh-h5: 1.625rem; // 26px
$lh-h6: 1.375rem; // 22px

$lh: (
  h1: 4rem,
  h2: 3.125rem,
  h3: 2.5rem,
  h4: 2.25rem,
  h5: 1.625rem,
  h6: 1.375rem,
);

/* line hights */

$lh-xs: 1rem; //16px
$lh-sm: 1.25rem; //20px
$lh-md: 1.375rem; //22px
$lh-lg: 1.5rem; //24px

$lh: (
  xs: 1rem,
  sm: 1.25rem,
  md: 1.375rem,
  lg: 1.5rem,
);

/*=====  End of Typography  ======*/

/*=============================================
=            breakpoints            =
=============================================*/

$breakpoints: (
  md: 48rem,
  // 768px
  lg: 64rem,
  // 1024px;
  xl: 80rem,
  // 1280
);
/*=====  End of breakpoints  ======*/

/*=============================================
=            Spacing            =
=============================================*/

$spacing: (
  none: 0,
  xxxs: 0.25rem,
  // 4px
  xxs: 0.5rem,
  //8px
  xs: 0.75rem,
  // 12px
  sm: 1rem,
  // 16px
  md: 1.5rem,
  // 24px
  lg: 2rem,
  // 32px
  xl: 3rem,
  // 48px
  xxl: 4.5rem,
  // 72px
  xxxl: 6rem,
  // 96px
) !default;

/*=====  End of Spacing  ======*/

/*=============================================
=            shadows            =
=============================================*/

$shadows: (
  none: 0,
  base: 0 4px 11px rgba(157, 157, 157, 0.21),
);

/*=====  End of shadows  ======*/

/*=====  End of variables  ======*/
